* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #B0C4DE;
    text-decoration: none;
    transition: 0.3s;

}

a:hover {
    color: orangered;
    transition: 0.4s;
}

.logo img {
    max-width: 52px;
    margin-top: 8px;
}

nav {
    position: fixed;
    /* Adicionando a propriedade para fixar o menu */
    top: 0;
    /* Posicionando o menu no topo da página */
    width: 100%;
    /* Definindo a largura do menu para ocupar toda a largura da tela */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(9, 87, 182, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 70px;
    z-index: 1;
}



.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* fim do menu*/
/* sessão video/home */
.video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 15px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Coloque o vídeo atrás do texto */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Isso faz com que o vídeo cubra todo o contêiner mantendo a proporção */
}


.caixa1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
    padding: 15px;
}

.text-container {
    position: relative;
    z-index: 0;
    margin-top: 340px;
    margin-left: 40px;
    background: rgba(4, 69, 142, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 120px;
}

.text-container h1 {
    margin-left: 8px;
    color: #00FF08;
}

.text-container h2 {
    margin-left: 8px;
    font-size: 52px;
    color: #B0C4DE;
}

.text-container h3 {
    margin-left: 8px;
    color: #00FF08;
    font-size: 28px;
}

.linguagens1 img {
    max-width: 100px;
    margin-top: 340px;
    margin-right: 10px;
    margin-bottom: 160px;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: -1;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

/* fim da sessão video/home */
/* sessão sobre*/
.sobre {
    background-image: url(./img/IA3.png);
    background-size: cover;
    /* Para cobrir todo o elemento */
    background-position: center;
    /* Para centralizar a imagem */
    padding: 40px;
}

.sobre .container {
    padding-top: 20px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Alteração para ajuste automático de colunas */
    align-items: center;
    grid-gap: 2rem;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
}

.sobre .container .fotoale img {
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    width: 60%;
    /* Alterado para redimensionar a imagem */
    height: auto;
    /* Alterado para redimensionar a imagem */
}

.sobre .texto h1 {
    color: #00FF08;
    font-size: 30px;
    letter-spacing: 2px;
}

.sobre .texto h2 {
    color: #B0C4DE;
    font-size: 20px;
    letter-spacing: 2px;
}

.sobre .texto p {
    color: #B0C4DE;
    display: flex;
    align-items: center;
    margin: 15px;
    text-align: justify;
}

.sobre .btncv button {
    margin: 15px;
    padding: 12px;
    color: #B0C4DE;
    background: rgba(34, 62, 7, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

.sobre .btncv button:hover {
    background: rgba(208, 2, 27, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/*fim da section sobre*/
/* section especialidades*/
.especialidades {
    background-image: url('./img/IA4.jpg');
    background-size: cover;
    /* Para cobrir todo o elemento */
    background-position: center;
    /* Para centralizar a imagem */
    padding: 30px;
}

.especialidades h1 {
    padding: 50px;
    display: flex;
    justify-content: center;
    color: #00FF08;
    font-size: 30px;
    letter-spacing: 2px;
}

.especialidades .container {
    display: flex;
    align-items: column;
    padding: 40px;
}

.especialidades .container .card {
    padding top: 20px;
    margin-left: 60px;
    width: 180px;
    height: 280px;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.especialidades .container .card img {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.especialidades .container .card h3 {
    display: flex;
    justify-content: center;
    color: #00FF08;

}

.especialidades .container .card {
    padding: 5px;
    color: #B0C4DE;

}

/* fim da section especialidades*/
/*sessão projetos*/
.projetos {
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    background-size: cover;
    /* Para cobrir todo o elemento */
    background-position: center;
    /* Para centralizar a imagem */
    padding: 30px;
}

.projetos h1 {
    padding: 50px;
    display: flex;
    justify-content: center;
    color: #00FF08;
    font-size: 30px;
    letter-spacing: 2px;
}

.projetos .textap {
    color: #B0C4DE;
    font-size: 25px;
    margin: 15px;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
}

.projetos .textap p {
    margin: 8px;
    font-size: 28px;
    display: flex;
    text-align: justify;
}


.projetos .container .line1 .card,
.projetos .container .line2 .card,
.projetos .container .line3 .card,
.projetos .container .line4 .card {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 238px;
    height: 284px;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.projetos .container .line1 .card img,
.projetos .container .line2 .card img,
.projetos .container .line3 .card img,
.projetos .container .line4 .card img {
    width: 224px;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.projetos .container .line1 .card h3,
.projetos .container .line2 .card h3,
.projetos .container .line3 .card h3,
.projetos .container .line4 .card h3 {
    color: #00FF08;
    display: flex;
    justify-content: center;
}

.projetos .container .line1 .card p,
.projetos .container .line2 .card p,
.projetos .container .line3 .card p,
.projetos .container .line4 .card p {
    display: flex;
    justify-content: center;
    color: #B0C4DE;
}

.projetos .container .line1 .card .logoprog {
    width: 20px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 6px;
    border-radius: 2px;
}

.projetos .container .line1 .card button,
.projetos .container .line2 .card button,
.projetos .container .line3 .card button,
.projetos .container .line4 .card button {
    margin-left: 8px;
    margin-top: 15px;
    padding: 12px;
    color: #B0C4DE;
    background: rgba(34, 62, 7, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

.projetos .container .line1 .card button:hover,
.projetos .container .line2 .card button:hover,
.projetos .container .line3 .card button:hover,
.projetos .container .line4 .card button:hover {
    background: rgba(208, 2, 27, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/*fim da section projetos*/
/*section contato*/
.contato {
    background: url(./img/darkhexagonal.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.contato h1 {
    padding: 50px;
    display: flex;
    justify-content: center;
    color: #00FF08;
    font-size: 30px;
    letter-spacing: 2px;
}

.contato .container {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}

.contato .formulario {
    margin-top: 60px;
    margin-left: 30px;
    width: 40%;
    min-width: 350px;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.contato .formulario h3 {
    display: flex;
    justify-content: center;
    color: #00FF08;
}

.contato .formulario input,
.contato .formulario textarea {
    display: block;
    min-width: 320px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgba(12, 84, 160, 0.45);
    margin-top: 20px;
    height: 30px;
    padding: 10px;
}

.contato .formulario textarea {
    height: 200px;
    /* Alteração para tornar o textarea mais curto em dispositivos menores */
}

.contato .formulario button {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 110px;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    color: #B0C4DE;
    background: rgba(34, 62, 7, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

.contato .formulario button:hover {
    background: rgba(208, 2, 27, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.container .redessociais img {
    max-width: 90px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 120px;
    background: rgba(12, 84, 160, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
}

.container .redessociais img:hover {
    background: rgba(208, 2, 27, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/*fim da section contato*/
/*footer*/
footer {
    color: #B0C4DE;
    display: flex;
    justify-content: center;
    font-size: 20px;
    background: rgba(9, 87, 182, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar {
    width: 16px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: rgba(31, 38, 135, 0.37);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(4, 69, 142, 0.75);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(20, 56, 98, 0.25);
}

/*fim do footer*/

/*responsivo*/
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 11.5vh;
        right: 0;
        width: 50vw;
        height: 95vh;
        background: rgba(9, 87, 182, 0.75);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Para telas menores que 768px */
@media (max-width: 768px) {


    .caixa1 {
        margin-top: 260px;
        grid-template-columns: 1fr;
        /* Mudar para uma única coluna */
        grid-gap: 1rem;
        /* Reduzir o espaçamento entre os itens */
        padding: 10px;

    }

    .text-container {
        margin-top: 20px;
        /* Reduzir a margem superior */
        margin-left: 20px;
        /* Reduzir a margem esquerda */
        margin-bottom: 10px;
        /* Reduzir a margem inferior */
    }

    .linguagens1 img {
        margin-top: 20px;
        /* Reduzir a margem superior */
        margin-right: 10px;
        /* Manter a margem direita */
        margin-bottom: 10px;
        /* Reduzir a margem inferior */
        margin-left: 20px;
    }

    .sobre .container {
        grid-template-columns: 1fr;
        /* Alterado para uma única coluna em dispositivos menores */
        text-align: center;
        /* Centraliza o conteúdo */
    }

    .especialidades .container {
        flex-direction: column;
        /* Altera a direção do flex container para empilhar os itens verticalmente */
        align-items: center;
        /* Centraliza os itens horizontalmente */
    }

    .especialidades .container .card {
        margin-left: 0;
        /* Remove a margem lateral */
        margin-bottom: 20px;
        /* Adiciona espaçamento entre os cards */
        width: 80%;
        /* Define a largura dos cards */
    }

    .especialidades .container .card img {
        margin-left: auto;
        /* Centraliza a imagem horizontalmente */
        margin-right: auto;
        display: block;
        /* Garante que a imagem não se estenda além do contêiner do card */
    }

    .contato .container {
        grid-template-columns: 1fr;
        /* Alteração para uma única coluna em dispositivos menores */
    }

    .contato .formulario {
        width: 80%;
        /* Alteração da largura do formulário para dispositivos menores */
        margin: 30px auto;
        /* Centralização do formulário */
    }

    .contato .formulario button {
        margin-left: 90px;
        /* Centralização do botão */
        margin-right: auto;
        /* Centralização do botão */
    }

    .container .redessociais img {
        max-width: 58px;
        margin-left: 48px;
    }

    footer {
        display: flex;
        text-align: center;
    }
}

/* Para telas menores que 576px */
@media (max-width: 576px) {
    .text-container {
        margin-top: 10px;
        /* Reduzir ainda mais a margem superior */
        margin-left: 10px;
        /* Reduzir ainda mais a margem esquerda */
        margin-bottom: 10px;
        /* Reduzir ainda mais a margem inferior */
    }

    .linguagens1 img {
        margin-top: 10px;
        /* Reduzir ainda mais a margem superior */
        margin-right: 5px;
        /* Reduzir ainda mais a margem direita */
        margin-bottom: 10px;
        /* Reduzir ainda mais a margem inferior */
    }
}

/* Para telas menores que 480px (tamanho de smartphone) */
@media screen and (max-width: 480px) {
    .especialidades h1 {
        padding: 20px;
        /* Reduz o espaçamento do título */
        font-size: 24px;
        /* Reduz o tamanho da fonte do título */
    }

    .especialidades .container .card {
        width: 100%;
        /* Define a largura dos cards para ocupar toda a largura disponível */
    }

    .especialidades .container .card img {
        width: 60px;
        /* Reduz o tamanho da imagem */
        height: 60px;
    }
}

/* Outras regras de mídia aqui */